#formUsername {
    width: 200px;
}
#formPassword {
    width: 200px;
}
#formEmail {
    width: 200px;
}
.form-styling {
    margin: auto;
    width: 20%;
    padding: 10px;
}
.login-header {
    margin: auto;
    width: 20%;
    /* border: 3px solid green; */
    font-size: 60px;
}